Node-red/Elevator_Ermua_Flow.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"617eab86.a18e3c","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":870,"y":360,"wires":[]},{"id":"b4c43b71.9dad38","type":"OpcUa-Client","z":"f6f2187d.f17ca8","endpoint":"c925d4ae.69c7a","action":"read","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA Lectura","x":670,"y":300,"wires":[["617eab86.a18e3c"]]},{"id":"4877b6ba.06704","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;s=\"Floor\".\"Piso_6\";datatype=REAL","payload":"1","payloadType":"num","x":370,"y":300,"wires":[["b4c43b71.9dad38"]]},{"id":"40a341ce.a5f2d","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ns=3;s=\"Floor\".\"Floor_Command\";datatype=Int16","payload":"5","payloadType":"num","x":370,"y":400,"wires":[["b390600a.630d38","30774cc3.023c34"]]},{"id":"b390600a.630d38","type":"OpcUa-Client","z":"f6f2187d.f17ca8","endpoint":"c925d4ae.69c7a","action":"write","deadbandtype":"a","deadbandvalue":1,"time":"1","timeUnit":"s","certificate":"n","localfile":"","localkeyfile":"","securitymode":"None","securitypolicy":"None","name":"OPC UA Escritura","x":670,"y":400,"wires":[["617eab86.a18e3c"]]},{"id":"fe7fc994.414358","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"122bd762.fec8d9","order":2,"width":0,"height":0,"passthru":false,"label":"Botón piso 1","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"topic","x":310,"y":500,"wires":[["e8093800.3d132"]]},{"id":"39ae2ff9.42b3d8","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"122bd762.fec8d9","order":3,"width":0,"height":0,"passthru":false,"label":"Botón piso 2","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"topic","x":310,"y":580,"wires":[["b3cad58e.f6bff8"]]},{"id":"e406f821.aa53b","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"122bd762.fec8d9","order":4,"width":0,"height":0,"passthru":false,"label":"Botón piso 3","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"topic","x":310,"y":660,"wires":[["460de26f.e8924c"]]},{"id":"b7658ec2.195098","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"122bd762.fec8d9","order":5,"width":0,"height":0,"passthru":false,"label":"Botón piso 4","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"topic","x":310,"y":740,"wires":[["c2505f1e.37569"]]},{"id":"dfec9ac3.23476","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"122bd762.fec8d9","order":6,"width":0,"height":0,"passthru":false,"label":"Botón piso 5","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"num","topic":"topic","x":310,"y":820,"wires":[["9481a0c2.f95a"]]},{"id":"e8093800.3d132","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\n// a = \"ns=3;s=\"Floor\".\"Floor_Command\";datatype=Int16\"\n// var id = 2;\n// var cliente = \"cliente 2\"\n// var paramentroFinal=id+\",\"+\"'\"+cliente+\"'\";\n// alert(parametroFinal);\n// //output\n// //2 ,'cliente 2'\n\nmsg = {\n    payload1: msg.payload,\n    payload2: 0,\n    payload3: 0,\n    payload4: 0,\n    payload5: 0,\n    payload6: 0\n    \n}\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":500,"wires":[["e62a0e49.29b89","b390600a.630d38","4ca2280a.dcb1d8","5c05123.467aeec"]]},{"id":"30774cc3.023c34","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":540,"y":220,"wires":[]},{"id":"e62a0e49.29b89","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":400,"wires":[]},{"id":"b3cad58e.f6bff8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\n// a = \"ns=3;s=\"Floor\".\"Floor_Command\";datatype=Int16\"\n// var id = 2;\n// var cliente = \"cliente 2\"\n// var paramentroFinal=id+\",\"+\"'\"+cliente+\"'\";\n// alert(parametroFinal);\n// //output\n// //2 ,'cliente 2'\n\n// payload2 = msg.payload\n\nmsg = {\n    payload1: 0,\n    payload2: msg.payload,\n    payload3: 0,\n    payload4: 0,\n    payload5: 0,\n    payload6: 0\n}\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":580,"wires":[["e62a0e49.29b89","b390600a.630d38","4ca2280a.dcb1d8","7bb0fdc5.28eb24"]]},{"id":"460de26f.e8924c","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\n// a = \"ns=3;s=\"Floor\".\"Floor_Command\";datatype=Int16\"\n// var id = 2;\n// var cliente = \"cliente 2\"\n// var paramentroFinal=id+\",\"+\"'\"+cliente+\"'\";\n// alert(parametroFinal);\n// //output\n// //2 ,'cliente 2'\n\n\nmsg = {\n    payload1: 0,\n    payload2: 0,\n    payload3: msg.payload,\n    payload4: 0,\n    payload5: 0,\n    payload6: 0\n}\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":660,"wires":[["e62a0e49.29b89","b390600a.630d38","4ca2280a.dcb1d8","2e6d2a8d.f16f46"]]},{"id":"9481a0c2.f95a","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\n// a = \"ns=3;s=\"Floor\".\"Floor_Command\";datatype=Int16\"\n// var id = 2;\n// var cliente = \"cliente 2\"\n// var paramentroFinal=id+\",\"+\"'\"+cliente+\"'\";\n// alert(parametroFinal);\n// //output\n// //2 ,'cliente 2'\n\n\nmsg = {\n    payload1: 0,\n    payload2: 0,\n    payload3: 0,\n    payload4: 0,\n    payload5: msg.payload,\n    payload6: 0\n}\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":820,"wires":[["e62a0e49.29b89","b390600a.630d38","4ca2280a.dcb1d8","a2a8f3ce.34ee8"]]},{"id":"c2505f1e.37569","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\n// a = \"ns=3;s=\"Floor\".\"Floor_Command\";datatype=Int16\"\n// var id = 2;\n// var cliente = \"cliente 2\"\n// var paramentroFinal=id+\",\"+\"'\"+cliente+\"'\";\n// alert(parametroFinal);\n// //output\n// //2 ,'cliente 2'\n\n\nmsg = {\n    payload1: 0,\n    payload2: 0,\n    payload3: 0,\n    payload4: msg.payload,\n    payload5: 0,\n    payload6: 0\n}\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":740,"wires":[["e62a0e49.29b89","b390600a.630d38","4ca2280a.dcb1d8","ba8b2c73.0262e"]]},{"id":"4ca2280a.dcb1d8","type":"http request","z":"f6f2187d.f17ca8","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"https://docs.google.com/forms/d/e/1FAIpQLSeH5CFrSHCCiuoL_n-zfrPwCEVBx3Oa_hidfjpSfl83tYsoWA/formResponse?entry.1600064986={{payload1}}&entry.1735642127={{payload2}}&entry.1773554599={{payload3}}&entry.1194833695={{payload4}}&entry.749478349={{payload5}}&entry.1852231423={{payload6}}","tls":"","persist":false,"proxy":"","authType":"","x":1350,"y":980,"wires":[["586ea67.460eb58"]]},{"id":"586ea67.460eb58","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1510,"y":980,"wires":[]},{"id":"326ca449.3b541c","type":"ui_button","z":"f6f2187d.f17ca8","name":"","group":"122bd762.fec8d9","order":7,"width":0,"height":0,"passthru":false,"label":"Botón piso 6","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"num","topic":"topic","x":310,"y":900,"wires":[["274376a5.d192aa"]]},{"id":"274376a5.d192aa","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\n// a = \"ns=3;s=\"Floor\".\"Floor_Command\";datatype=Int16\"\n// var id = 2;\n// var cliente = \"cliente 2\"\n// var paramentroFinal=id+\",\"+\"'\"+cliente+\"'\";\n// alert(parametroFinal);\n// //output\n// //2 ,'cliente 2'\n\n\nmsg = {\n    payload1: 0,\n    payload2: 0,\n    payload3: 0,\n    payload4: 0,\n    payload5: 0,\n    payload6: msg.payload,\n}\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":740,"y":900,"wires":[["4ca2280a.dcb1d8","e62a0e49.29b89","87c59ac1.df5948"]]},{"id":"938eb1b9.c4a31","type":"ui_template","z":"f6f2187d.f17ca8","group":"122bd762.fec8d9","name":"","order":1,"width":0,"height":0,"format":"<style>\n    .nr-dashboard-cardtitle {\n        text-align: center;\n        margin-bottom: 20px;\n    }\n    \n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":520,"y":140,"wires":[[]]},{"id":"b1fe9b9e.88d638","type":"ui_text","z":"f6f2187d.f17ca8","group":"5d6d0fae.7225b","order":2,"width":0,"height":0,"name":"","label":"Go to the floor:","format":"{{msg.payload}}","layout":"row-spread","x":1620,"y":240,"wires":[]},{"id":"5c5cab00.c4cd44","type":"function","z":"f6f2187d.f17ca8","name":"","func":"msg.payload = 3\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1430,"y":240,"wires":[["b1fe9b9e.88d638","28d80897.3b7b88","2790228a.3d26ce"]]},{"id":"28d80897.3b7b88","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1620,"y":300,"wires":[]},{"id":"d59ef892.95a558","type":"inject","z":"f6f2187d.f17ca8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1270,"y":240,"wires":[["5c5cab00.c4cd44"]]},{"id":"2790228a.3d26ce","type":"ui_chart","z":"f6f2187d.f17ca8","name":"","group":"5d6d0fae.7225b","order":1,"width":0,"height":0,"label":"Dashboard of elevator position","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":1690,"y":420,"wires":[[]]},{"id":"87c59ac1.df5948","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nmsg.payload = msg.payload6\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":900,"wires":[["7990ae6.9acb25","b390600a.630d38"]]},{"id":"a2a8f3ce.34ee8","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nmsg.payload = msg.payload5\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":820,"wires":[["b390600a.630d38"]]},{"id":"7990ae6.9acb25","type":"debug","z":"f6f2187d.f17ca8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":900,"wires":[]},{"id":"ba8b2c73.0262e","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nmsg.payload = msg.payload4\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":740,"wires":[["b390600a.630d38"]]},{"id":"2e6d2a8d.f16f46","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nmsg.payload = msg.payload3\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":660,"wires":[["b390600a.630d38"]]},{"id":"5c05123.467aeec","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nmsg.payload = msg.payload1\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":500,"wires":[["b390600a.630d38"]]},{"id":"7bb0fdc5.28eb24","type":"function","z":"f6f2187d.f17ca8","name":"","func":"\nmsg.payload = msg.payload2\n\n\na = \"ns=3;\"+\"s=\\\"Floor\\\".\"+\"\\\"Floor_Command\\\";\"+\"datatype=Int16\"\nmsg.topic = a\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1360,"y":580,"wires":[["b390600a.630d38"]]},{"id":"c925d4ae.69c7a","type":"OpcUa-Endpoint","endpoint":"opc.tcp://192.168.0.100:4840","secpol":"None","secmode":"None","login":false},{"id":"122bd762.fec8d9","type":"ui_group","name":"Elevator buttons","tab":"81f59e.6e632a6","order":1,"disp":true,"width":"6","collapse":false},{"id":"5d6d0fae.7225b","type":"ui_group","name":"Actual elevator position","tab":"81f59e.6e632a6","order":2,"disp":true,"width":"6","collapse":false},{"id":"81f59e.6e632a6","type":"ui_tab","name":"Elevator conf","icon":"dashboard","disabled":false,"hidden":false}]